{% extends 'base.html' %}

{% load static %}
  
{% block css %}
  <title>Contact Us | BBA - BankingBook Analytics</title>
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-contactus">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-us">
              Contact Us
            </h1>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="wrap">
        <div class="row">
          <div class="col-md-6">
            <h2>GENERAL INQUIRIES</h2>
            Phone: <a class="tel" style="text-decoration: underline;" href="tel:1-905-499-3618">+1-905-499-3618</a> extn. 700<br>
            Email: <a class="email" style="text-decoration: underline;" href="mailto:contact@bba.to">contact@bba.to</a>    
          </div>
          <div class="col-md-6">
            <h2>MEDIA RELATIONS</h2>
            Phone: <a class="tel" style="text-decoration: underline;" href="tel:1-905-499-3618">+1-905-499-3618</a> extn. 701<br>
            Email: <a class="email" style="text-decoration: underline;" href="mailto:marketing@bba.to">marketing@bba.to</a>
          </div>
        </div>
        <hr style="color:black">
        <div class="row" style="margin-top: 60px;">
          <div class="col-md-12">
            <h2>LOCATION</h2>
            <h4>Toronto</h4>
            <p>BankingBook Analytics Inc., The Exchange Tower, 130 King Street West, Suite 1800 Toronto, Ontario M5X 1E3 Canada</p>
            <a class="tel" style="text-decoration: underline;" href="tel:1-905-499-3618">+1-905-499-3618</a><br>
            <p>Fax: +1-905-499-3618</p>
          </div>
        </div>
      </div>      
    </article>
{% endblock content %}