{% extends 'base.html' %}

{% load static %}
  
{% block css %}
  <title>Cookie Notice and Privacy Policy | BBA - BankingBook Analytics</title>
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-cookie">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3 style="text-align: center;text-transform: capitalize;margin-top: 100px; font-size: 45px;">
              Cookie Notice and Privacy Policy
            </h3>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting" style="background-color: white !important;">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <section class="entry-content cf" itemprop="articleBody">
        <div class="section section-white cf">
          <div class="wrap">
            <h2 style="text-align: center;"><strong>Privacy Policy</strong></h2>
            <p>BankingBook Analytics, Inc. (“BankingBook, “us” or “we”) is a leading Canadian firm in analytic advisory services and technology solutions for financial institutions around the world.  We understand that your privacy is important to you and BankingBook is committed to protecting your personal information and complying with applicable data protection laws. We collect data and information in a few different ways:</p>
            <p><strong>Collected through the Website</strong><br>Information You Provide BankingBook. This information is provided when you join BankingBook mailing lists or have questions about our products and services. Information provided may include, your name, mailing address, e-mail address, telephone number, job title and company name.</p>
            <p>Data we Collect. When you visit our website, certain information and data is automatically collected. This information collected while using the site may include: IP address; date and time of access; volume of data transferred; and the region derived from your IP address.</p>
            <p><strong>Information Collected from others</strong><br>Data. We receive data about the places people go and visit with their mobile devices (if the mobile or other location-aware device is configured to share its location data when the device or a mobile application on the device is in use or when operating in the background).  In addition to location, we receive a device identifier and other information about that device (such as the browser or device type, IP address or app publisher, operating system, carrier provider, and other similar device-specific information).  We do not receive the phone number or the unique hardware device ID of a mobile device.  We identify devices using the advertising ID or a randomly assigned unique identifier (that is created through our own system).</p>
            <p>INFORMATION COLLECTED THROUGH THE WEBSITE</p>
            <p><strong>Consent<br>
              </strong>By accessing or using the Site, you consent to the terms and conditions of this Privacy Policy and the collection, use, and storage of your information as set forth in this Privacy Policy.</p>
            <p><strong>Information Collected<br>
              </strong>We collect Site visitor information while using the Site or that is submitted via the Site.  Information provided may include, your name, mailing address, e-mail address, telephone number, job title and company name.  Additional information collected while using the site may include: IP address; date and time of access; volume of data transferred; and the region derived from your IP address.</p>
            <p><strong>Use of Information<br>
              </strong>BankingBook may use your information where it is helpful to us to present our Site and contents, fulfill your requests for information, notify you about any products and services we offer, recruit personnel, distribute newsletters and contact you.</p>
            <p><strong>Disclosure of Information<br>
              </strong>BankingBook shall not intentionally disclose or transfer (and shall take reasonable steps to prevent the unauthorized or accidental disclosure of) your personal information to third parties (i.e. persons or entities that are not affiliates of BankingBook) without your consent, except as follows:</p>
            <p>BankingBook may provide access to your information to third party consultants, vendors and service providers that assist BankingBook in maintaining the Site and provide services related to the Site.  Before disclosing your information to these third parties BankingBook requires that they first agree to maintain the confidentiality of your information and provide the same level of data security as provided by BankingBook.  Additionally, BankingBook may be compelled to disclose your information to legal authorities and may be prohibited by law from providing you with notice of such disclosure.  Also, in the event of a violation of the Terms of Use (if any) or any other terms on this Site, including but not limited to a violation of any restrictions on use of materials provided in or through this Site, BankingBook may disclose your information in furtherance of potential or on-going legal proceedings.</p>
            <p><strong>Security<br>
              </strong>BankingBook takes reasonable measures in order to protect your information from loss, misuse and unauthorized access, disclosure, alteration and destruction.  Despite these precautions, the transmission of information via the Internet is not completely secure and BankingBook cannot guarantee that security of your information transmitted to this Site.  Your transmission of any information to this Site is at your own risk.  BankingBook is not responsible for circumvention of any privacy settings or security measures contained on this Site.</p>
            <p><strong>User Access to Information<br>
              </strong>You have the right to access and correct your information at any time.  To review, update or make changes to your information, please send an email to <a href="mailto:contact@bba.to">contact@bba.to</a>.</p>
            <p><strong>Transborder Hosting and Transfer of Information<br>
              </strong>Your information may be transferred from time to time to BankingBook offices or personnel or to third parties, located throughout the world, and this Site may be viewed and hosted by BankingBook or its vendors anywhere in the world.  By using this Site and transmitting your information to this Site, you voluntarily consent to such transborder transfer and hosting of such information.</p>
            <p><strong>Retention of Information<br>
              </strong>BankingBook stores your information for the various purposes set forth in this Privacy Policy.  For each of these purposes, BankingBook only retains your information for so long as it is serving the notified purpose.</p>
            <p><strong>Third Party Sites<br>
              </strong>This Site may contain links to other third-party websites or information.  This Privacy Policy only applies to this Site.  The existence of third-party links on this Site does not constitute or imply an endorsement, sponsorship or recommendation by BankingBook of any third party, their website or any information contained therein.  BankingBook shall not be responsible or liable for your use of those third-party websites or information and your use shall be subject to the terms of use and privacy policy applicable to those sites.</p>
            <p><strong>Children<br>
              </strong>This Site is not designed for or directed at children 13 years of age or younger, and BankingBook will not intentionally collect and/or maintain any information about anyone under this age.</p>
            <p><strong>Information Shared with Marketers<br>
              </strong>We share the data and information we compile about someone by creating aggregate consumer segments that are tied to an advertising ID. This information is shared in order to:</p>
            <ul>
              <li>To display and optimize advertisements</li>
              <li>For measurement and reporting</li>
              <li>For industry analysis and demographic profiling</li>
              <li>Your Choices</li>
            </ul>
            <p>Location Settings.  If you want to limit or prevent location data from your device from being collected, you can adjust this capability through your mobile device settings.</p>
            <p>To opt out of our Marketing Data Products and Services Databases, please contact us via email at <a href="mailto:marketing@bba.to">marketing@bba.to</a>.</p>
            <p><strong>Changes to Privacy Policy<br>
              </strong>BankingBook reserves the right to make changes to this Privacy Policy from time to time.  BankingBook will alert you to any such changes by updating this Privacy Policy.  This Privacy Policy was last updated on Dec. 15, 2019.</p>
            <p><strong>Contact Information<br>
              </strong>If you have any questions about this Privacy Policy you can contact:<br>
              BankingBook Analytics, Inc.<br>
              The Exchange Tower, 130 King Street West,<br>
              Suite 1800 Toronto, Ontario M5X 1E3 Canada.<br></p>
            <h2 style="text-align: center"><strong>Cookies Policy</strong></h2>
            <p><strong>How We Use Cookies<br>
              </strong>Our website, like many others, stores and retrieves information on your browser using cookies. This information is used to make the site work as you expect it to.  It is not personally identifiable to you, but it can be used to give you a more personalized web experience.</p>
            <p>A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>
            <p><strong>List of Cookies<br>
              </strong>Below is a list of the cookies we use on this site, which will be updated whenever new cookies are encountered and classified by our website team.</p>
            <p><strong>Last Update: Dec. 9,2019<br>
            </strong>These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms.</p>
            <p>You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.</p>
            <p><strong>System Cookies<br>
              </strong>The “cookie_notice_bar_state” cookie will remember not to show you the pop-up message if you have previously dismissed it.</p>
            <p>The “BBA.To_view” cookie is used by our website to store anonymous session data. They may identify you as a single user when you move between pages but carry no personally identifiable information. This information is used for performance metrics and shared with Google Analytics.</p>
            <p><strong>Performance Cookies<br>
              </strong>The “_ga and _gat” cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site.</p>
            <p>We use Google Analytics to provide this service, which uses first party cookies. We do not share these data with any other party.</p>
            <p>The information we get through the use of these cookies is anonymized and we make no attempt to identify you or influence your experience of the site while you are visiting it. If you do not allow these cookies, we will not be able to include your visit in our statistics.</p>
            <p>If you have used a Do Not Track browser setting, we take this as a sign that you do not want to allow these cookies, and they will be blocked.</p>
            <p><strong>How to control cookies<br>
              </strong>You can control and/or delete cookies as you wish – for details, see AllAboutCookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </section>
    </article>
{% endblock content %}