{% extends 'base.html' %}

{% load static %}
  
{% block css %}
  <title>Cyber Security | BBA - BankingBook Analytics</title>
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
  <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-CyberSecurity">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-product">
              Cyber Security
            </h1>
            <p class="page-sub-title excerpt">Cyber Risk Quantification and Forecasting</p>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="section section-white cf" style="background-color: white;">
        <div class="wrap" style="width: 70%;">
          <div class="content-column two_third">
            <div style="padding-right:20px;">
              <h2>Cyber threats continue to evolve at a rapid pace and pose increasingly significant risks to organizations.</h2>
              <p>As global cyber risk levels are spiraling out of control, the effectiveness of traditional cyber risk 
                management is being called into question. Traditional cyber risk management often focuses on managing and 
                addressing the cyber attacks independent from business and without consideration of their impact. 
                Left unchecked, the growth in cyberattacks will become exponential. Organizations can no longer look to 
                address these growing cyber-related dangers alone. BankingBook and Global Risk Institute jointly developed 
                the Distribution Analysis for Information Risk (DAIR) framework for cyber risk quantification, giving 
                consideration to asset vulnerabilities as well as business and systemic considerations. By implementing 
                DAIR framework, organizations are able to:</p>
                <div class="key_div1">
                  <ul>
                    <li style="text-align: left;">Enhance a firm’s understanding of cyber risk exposure by highlighting where the highest dollar level of threat may be coming from;</li>
                    <li style="text-align: left;">Help management and boards set and monitor their cyber risk appetite, and make decisions based on the organization’s capacity, appetite, and actual risk level;</li>              
                    <li style="text-align: left;">Better inform decisions relating to expenditures on cyber risk mitigation, economic capital allocation and insurance; and</li>
                    <li style="text-align: left;">Help management demonstrate to regulators that they are managing cyber risk in a comprehensive way.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="content-column one_third last_column">
              <div style="background-color: #e4e4e4; padding: 10px 20px 10px 20px; border-radius: 10px;">
                <h2 style="text-align: center;">SERVICES</h2>
                <p style="text-align: center; font-weight: 400;">
                  <strong><a class="button button-dark-blue" style="width: 100%;"
                      href="#Assessment">Cyber Risk Assessment</a></strong></p>
                <p style="text-align: center; font-weight: 400;">
                  <strong><a class="button button-dark-blue" style="width: 100%;"
                      href="#DAIR">Cyber Risk Quantification Using DAIR Approach</a></strong></p>
              </div>
            </div>
            <div class="clear_column"></div>
        </div>
      </div>
      <div class="section section-orange cf" style="padding-top: 0 !important;">
        <div class="wrap">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down"></use>
            </svg>
            <a name="Assessment"></a>
          <h2 style="text-align: center;"><span style="color: #ffffff;">SERVICES</span></h2>
        </div>
      </div>
      
      <div class="section section-white cf " style="background-color: white; padding-top: 0 !important;">
        <div class="wrap " style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down" style="fill: #0084AD !important;"></use>
          </svg>
          <h3><span style="color: #00263d;"><strong>CYBER RISK ASSESSMENT</strong></span></h3>
          <p>The digitization of personal and business interactions is dramatically changing the cyber attack surface. 
            There are three broad worksteps organized under Cyber Risk Assessment:</p>
          <div class="key_div1">
            <ul>
              <li style="text-align: left;">Enterprise-wide identification of critical assets: 
                This workstep is used to segment critical cyber assets based on their contribution to achieving mission 
                assurance. We use BankingBook's proprietary  approach for identification and segmentation of networking and 
                non-networking assets.</li>
              <li style="text-align: left;">Critical assets' segmentation and ranking: In this workstep, we determine 
                time-dependent  analysis using multivariate causal approach to develop vulnerability ranking of the 
                critical assets.</li>              
              <li style="text-align: left;">Loss data capture: The key objective of this 
                workstep is to identify and collate internal historic data for threats, vulnerabilities, and incidents. 
                Using event logs, questionnaires, workshops  and working closely with experts, we segregates causal data 
                in various dimensions, such as, threat sources, threats, vulnerability, and incidents. Incidents are then 
                further analyzed to determine their knock-on effect. We then consolidate loss data to estimate severity, 
                map loss data with assets and hierarchical risk taxonomy.</li>
                <a name="DAIR"></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>CYBER RISK QUANTIFICATION USING DAIR APPROACH</strong></span></h3>
          <p>DAIR uses a three-dimensional approach to capture and size organizational cyber risk:</p>
          <div class="key_div1">
            <ul>
              <li>Operational cyber risk quantification for malicious and non-malicious cyber threats</li>
              <li>Business cyber risk quantification to capture the knock-on effect of cyber incidents, e.g., loss of credibility and customer-base</li>
              <li>Systemic cyber risk to measure the impact of cross-border software subversion, e.g., targeting of critically important systemic assets</li>
            </ul>
          </div>
          <p>Delivered in an easy-to-use, web-based front-end, Operational and Business cyber risk modules are included 
            in BBA's ECAPLeader and Systemic cyber risk module is in our ScenarioFrontier application. Users have the 
            option to either use cyber risk specific module or the entire suite.</p>
          <p><a target="blank" style="text-decoration: underline;" href="https://globalriskinstitute.org/publications/distribution-analysis-for-information-risk-a-cyber-quantification-framework/">Download the Distribution Analysis for Information Risk (DAIR) at globalriskinstitute.org</a></p>    
        </div>
      </div>
        <div class="section section-gray cf section_benefit" style="padding-top: 0 !important;">
          <div class="wrap" style="width: 70%;">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down" style="fill: #F2F2EB !important;"></use>
            </svg>
            <h3 style="margin: 0 auto 50px; text-align:center;">Core Benefits</h3>
            <div class="content-column one_third">
              <div style="padding-right:30px;">
                <h4>Trusted Partner</h4>
                <p>BankingBook delivers the world's only cyber risk management software solution that provides 360-degree 
                  cyber risk coverage. BankingBook has unmatched proprietary cyber risk. Our client base is comprised of 
                  leading companies and also adopted by the members of Global Risk Institute, which includes, asset managers, 
                  banks, insurance firms, investment funds  and governments. Through BBA, business stakeholders get 
                  unprecedented visibility into the financial loss exposure originated by cyber events and the risk issues 
                  associated with their various technology assets. This allows business leaders to make well-informed 
                  decisions on the right security and risk strategy to adopt.</p>
              </div>
            </div>
            <div class="content-column one_third">
              <div style="padding-right:30px;">
                <h4>Data Warehouse</h4>
                <p>BBA's cyber risk quantification models work with both internal and external data. BBA, through its 
                  affiliates and partners, e.g., Canadian Cyber Threat Exchange (CCTX) also applies external data to develop 
                  fit-for-business input data. Internal data populates the bulk of the distribution giving a relevant 
                  representation of annual expected loss, whilst, scenarios, that incorporate external data, are used to model 
                  the tail risk. BBA's solution also includes risk data aggregation platform, which provides end-to-end data 
                  management, reporting and lineage to achieve business-as-usual cyber risk quantification results. 
                  The Risk Data Warehouse in our module  allows various members of the organization to centrally manage 
                  all of their relevant risk data and risk incidents reporting.</p>
              </div>
            </div>
            <div class="content-column one_third last_column">
              <div style="padding-right:0px;">
                <h4>Built on the DAIR Standard</h4>
                <p>BBA's cyber risk quantification software modules are the only enterprise software platform purpose built 
                  on DAIR - a standard developed under Global Risk Institute's thought leadership. Key benefits of 
                  implementing DAIR, include: coverage of the full spectrum of cyber threat; planning, forecasting and RoI 
                  analysis; development of risk transfer framework, e.g., insurance; determination of the contribution of 
                  cyber risk in pricing frameworks; and design of threshold limits for the cyber Key Risk Indicators and 
                  risk appetite dashboards.</p>
              </div>
            </div>
            <div class="clear_column"></div>
          </div>            
        </div>
        <div class="section section-white cf" style="background-color: white;">
          <div class="wrap" style="width:70%;">
            <h3 style="text-align: center;">
              KEY METRICS & DELIVERABLES
            </h3>
            <p>Software: </p>
            <div class="key_div1">
              <ul>
                <li>Form each loss scenario, frequency and severity distributions fitting. Distribution options for frequency include: Poisson and Negative Binomial. Distribution options for severity include: Pareto, GPD, Weibull, Lognormal and Gamma</li>
                <li>Key parameters: Expected frequency and severity and unexpected severity at pre-agreed confidence interval</li>
                <li>Simulated approach to determine Earnings-at-risk for enterprise, business units and also for the critical assets/networks for operational, business and systemic cyber risk</li>
              </ul>
            </div>
            <p>Services: </p>
            <div class="key_div1">
              <ul>
                <li>Cyber risk identification and assessment</li>
                <li>Review existing framework and outline development options, including development of strategic roadmap</li>
                <li>Mapping of malicious and non-malicious cyber attacks with risk taxonomy</li>
                <li>Pilot “deep drills” on top risks, including KRIs</li>
                <li>Design reporting dashboards, and data collection templates</li>
              </ul>              
            </div>
          </div>
        </div>
        <div class="section cf" style="background-color: #F68A5C;padding-top: 0 !important;">
          <div class="wrap" style="width: 70%;">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down" style="fill: #fff !important;"></use>
            </svg>
            <h3 style="text-align: center; color: #00263d;margin-top: 35px;">RELATED SOLUTIONS</h3>
            <div style="margin-left: 9%;"><br>
              <a target="blank" href="/ScenarioFrontier">
                <div class="case1_div" style="text-align: center;">
                  <strong>ScenarioFrontier<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-1.png">
                  <p style="text-align: left;">ScenarioFrontier is a powerful tool for day-to-day strategic planning and capital management, 
                    permitting companies to identify and quantify risks and opportunities across a wide range of 
                    potential economic environments. ScenarioFrontier integrates budget, risk, and macroeconomic 
                    variables for regulatory compliance and management action planning.</p>
                </div>                
              </a>
              <a target="blank" href="/ECAPLeader">
                <div class="case1_div" style="text-align: center;">
                  <strong>ECAPLeader<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-2.png">
                  <p style="text-align: left;">ECAPLeader provides integrated view of capital for material risks, using a modelling engine 
                    attuned to the credit cycle, such that economic capital rises in good periods and starts to 
                    fall relatively in bad periods as losses get realized.
                  </p>
                </div>
              </a>
              <a target="blank" href="/ModelTek">
                <div class="case1_div" style="text-align: center;">
                  <strong>ModelTek<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-3.png">
                  <p style="text-align: left;">ModelTek is an industry leading platform designed to industrialize model risk management for 
                    the second and third lines of defense. Regulators and auditors across the globe are asking 
                    consistently for more in-depth and more frequent model validation. The risk of non-compliance 
                    with regulatory standards, such as IFRS 9, BCBS 350 and BCBS 223 is severe.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
    </article>
{% endblock content %}
