{% extends 'base.html' %}

{% load static %}
  
{% block css %}
  <title>ECAPLeader | BBA - BankingBook Analytics</title>
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
  <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-ECAPLeader">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-product">
              ECAPLeader<sup><sup>TM</sup></sup>
            </h1>
            <p class="page-sub-title excerpt">Capital - Measured</p>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="section cf" style="background-color: white;">
          <div class="wrap" style="width: 70%;">
            <h2><span style="color: #000000;">ECAPLeader provides integrated view of capital for material risks, using a modelling engine 
              attuned to the credit cycle, such that economic capital rises in good periods and starts to fall relatively in bad periods as losses get realized.</span></h2>
            <p>The primary purpose of ECAPLeader is to be used as baseline capital reporting tool for the determination of risk-based capital 
                requirements, Internal Capital Adequacy Application Process (ICAAP), including the Supervisory Review and Evaluation Process.</p>
          </div>
        </div>
        <div class="section section-orange cf" style="padding-top: 0 !important;">
          <div class="wrap">
              <svg viewBox="0 0 94 40">
                  <use xlink:href="#bg-arrow-down" style="fill: white !important;"></use>
              </svg>
              <p class="m-all t-1of2 d-1of2 text-center ">
                  <a class="button-orange novantas-contact" href="#novantas-contact">Request a Demo</a>
              </p>
              <p class="m-all t-1of2 d-1of2 text-center last-col">
                  <a class="button-orange " href="#">Request Brochure</a>
              </p>
          </div>
        </div>
        <div class="section section-gray cf section_benefit" style="padding-top: 0 !important;">
            <div class="wrap" style="width: 70%;">
              <svg viewBox="0 0 94 40">
                <use xlink:href="#bg-arrow-down"></use>
              </svg>
              <h3 style="margin: 0 auto 50px; text-align:center;">Core Benefits</h3>
              <div class="key_div1">
                <ul>
                  <li>Help management and boards set and monitor capital subject to pre-agreed risk profile, e.g., AA, BBB, etc.</li>
                  <li>Make decisions based on the organization’s capacity, appetite, and actual risk level</li>
                  <li>Better inform decisions relating to risk-based returns on credit transactions and investments</li>
                  <li>Help management demonstrate to regulators that they are managing capital in a comprehensive way</li>
                  <li>Develop an Economic Capital based yardstick to evaluate Economic Solvency</li>
                </ul>
              </div>
            </div>            
        </div>
        <div class="section section-white cf" style="background-color: white;">
          <div class="wrap" style="width:70%;">
            <h3 style="margin: 0 auto 50px; text-align:center;">
              KEY METRICS
            </h3>
            <div class="key_div1">
              <ul>
                <li>Key risk parameters of material risks, e.g., Probability of Default and Loss Given Default, Liquidity-at-risk, Value-at-risk, etc.</li>
                <li>Enterprise-wide Economic Capital at a pre-agreed risk profile</li>
                <li>Fit for Internal Capital Adequacy Process compliance</li>
              </ul>              
            </div>
          </div>
        </div>
        <div class="section section-gray cf">
          <div class="wrap" style="width: 70%;">
            <h3 style="text-align: center;margin:0 4% 80px 2%;">MODULES ORGANIZED AROUND HOW YOU WORK ON REGULATORY COMPLIANCE AND INTERNAL REPORTING</h3>
            <div class="content-column one_third">
              <h4>Risk reports</h4>
            </div>
            <div class="content-column two_third last_column">                
              <p><img class="alignleft" src="{% static 'img/arrow_orange.png' %}" sizes="(max-width: 50px) 100vw, 50px" width="50" height="50">
                Full coverage across key risk types: Credit and concentration risk, market risk for private equity and real estate investments; liquidity, interest rate and business risks<br>
              </p>              
            </div>
            <div class="clear_column"></div>
            <div class="content-column one_third">
              <h4>ICAAP submission workflow</h4>
            </div>
            <div class="content-column two_third last_column">
              <p><img class="alignleft" src="{% static 'img/arrow_orange.png' %}" sizes="(max-width: 50px) 100vw, 50px" width="50" height="50">
                  Integrated with ICAAP workflow, including approval process<br>
                </p>
            </div>
            <div class="clear_column"></div>
            <div class="content-column one_third">
              <h4>Management dashboard</h4>
            </div>
            <div class="content-column two_third last_column">
              <h4></h4>
              <p><img class="alignleft" src="{% static 'img/arrow_orange.png' %}" sizes="(max-width: 50px) 100vw, 50px" width="50" height="50">
                  Monitor risk appetite and download directly to PPT, Word or Excel for analysis and presentations<br>
                </p>
            </div>
            <div class="clear_column"></div>
            <div class="content-column one_third">
              <h4>Archiving</h4>
            </div>
            <div class="content-column two_third last_column">
              <h4></h4>
              <p><img class="alignleft" src="{% static 'img/arrow_orange.png' %}"
                  sizes="(max-width: 50px) 100vw, 50px" width="50" height="50">
                  Sotre and acceess historic regulatory filings and create a single goto source for audit purposes<br>
                </p>
            </div>
          </div>
        </div>
        <div class="section cf" style="background-color: white;">
          <div class="wrap" style="width: 70%;">
            <h3 style="text-align: center;">SNAPSHOT OF ECAPLEADER’S DASHBOARD</h3>
            <div style="margin-left: 9%;"><br>              
              <div class="case_div">
                <a href="/insights">
                  <strong>User-interface for ICAAP reporting</strong>
                </a>
                <img class="snap_img" src="{% static 'img/Ecapl-1.png' %}">
              </div>
              <div class="case_div">
                <a href="/insights">
                  <strong>Fitted distributions<br><br></strong>
                </a>
                <img class="snap_img" src="{% static 'img/Ecapl-2.png' %}">
              </div>
              <div class="case_div">
                <a href="/insights">
                  <strong>Risk capitalization and results</strong>
                </a>
                <img class="snap_img" src="{% static 'img/Ecapl-3.png' %}">
              </div>         
              <div class="case_div">
                <a href="/insights">
                  <strong>ICAAP workflow - status dashboard</strong>
                </a>
                <img class="snap_img" src="{% static 'img/Ecapl-4.png' %}">
              </div>
              <div class="case_div">
                <a href="/insights">
                  <strong>ICAAP workflow - status dashboard</strong>
                </a>
                <img class="snap_img" src="{% static 'img/Ecapl-5.png' %}">
              </div>
              <div class="case_div">
                <a href="/insights">
                  <strong>ICAAP workflow - permissions screen</strong>
                </a>  
                <img class="snap_img" src="{% static 'img/Ecapl-6.png' %}">                
              </div>              
            </div>
          </div>
        </div>
        <div class="section cf" style="background-color: #F68A5C;padding-top: 0 !important;">
          <div class="wrap" style="width: 70%;">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down" style="fill: white !important;"></use>
            </svg>
            <h3 style="text-align: center; color: #00263d;margin-top: 35px;">PRODUCT RESOURCES</h3>
            <div style="margin-left: 9%;"><br>
              <a target="blank" href="/insights-sub/34">
                <div class="case_div">
                  <strong>Case Study: How an Ontario-based credit union gives supervisors an increased level of confidence in its capital position by using BBA's ECAPLeader</strong>
                </div>
              </a> 
              <a target="blank"
                href="/insights-sub/35">
                <div class="case_div">
                  <strong>Case Study: How to develop hurdle rate for loan pricing</strong>
                </div>
              </a>
              <a target="blank"
                href="/insights-sub/36">
                <div class="case_div">
                  <strong>Case Study: Using Economic Capital metric to measure Financial Institutions' performance<br>
                  </strong>
                </div>
              </a>
            </div>
          </div>
        </div>
    </article>

    <div id="novantas-contact" class="white-popup cf mfp-hide">
        <noscript class="ninja-forms-noscript-message">
            Notice: JavaScript is required for this content.
        </noscript>
        <div id="nf-form-1-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-1" aria-describedby="nf-form-errors-1" role="form">
            <span id="nf-form-title-1" class="nf-form-title">

            </span>
            <div class="nf-form-wrap ninja-forms-form-wrap">
                <div class="nf-response-msg"></div>
                <div class="nf-debug-msg"></div>
                <div class="nf-before-form">
                    <nf-section>
                    </nf-section>
                </div>
                <div class="nf-form-layout">
                    <form method="POST" action="" id="demo_form" name="demo_form">{% csrf_token %}
                        <div>
                            <div class="nf-before-form-content">
                                <nf-section>
                                    <div class="nf-form-fields-required">Fields marked with an
                                        <span class="ninja-forms-req-symbol">*</span> are required
                                    </div>
                                </nf-section>
                            </div>
                            <div class="nf-form-content ">
                                <nf-rows-wrap>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-1-container" class="nf-field-container textbox-container  label-above ">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-1-wrap" class="field-wrap textbox-wrap" data-field-id="1">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-1" id="nf-label-field-1" class="">Full Name
                                                                            <span class="ninja-forms-req-symbol">*</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <input type="text" value="" class="ninja-forms-field nf-element" id="nf-field-1" name="nf-field-1" aria-invalid="false" aria-describedby="nf-error-1" aria-labelledby="nf-label-field-1" required='true'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-1" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-5-container" class="nf-field-container textbox-container  label-above ">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-5-wrap" class="field-wrap textbox-wrap" data-field-id="5">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-5" id="nf-label-field-5" class="">Title
                                                                            <span class="ninja-forms-req-symbol">*</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <input type="text" value="" class="ninja-forms-field nf-element" id="nf-field-5" name="nf-field-5" aria-invalid="false" aria-describedby="nf-error-5" aria-labelledby="nf-label-field-5" required="true">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-5" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-6-container" class="nf-field-container textbox-container  label-above ">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-6-wrap" class="field-wrap textbox-wrap" data-field-id="6">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-6" id="nf-label-field-6" class="">Institution
                                                                            <span class="ninja-forms-req-symbol">*</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <input type="text" value="" class="ninja-forms-field nf-element" id="nf-field-6" name="nf-field-6" aria-invalid="false" aria-describedby="nf-error-6" aria-labelledby="nf-label-field-6" required='true'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-6" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-2-container" class="nf-field-container email-container  label-above ">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-2-wrap" class="field-wrap email-wrap" data-field-id="2">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-2" id="nf-label-field-2" class="">Email
                                                                            <span class="ninja-forms-req-symbol">*</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <input type="email" value="" class="ninja-forms-field nf-element" id="nf-field-2"
                                                                            name="email_1" autocomplete="email" aria-invalid="false"
                                                                            aria-describedby="nf-error-2" aria-labelledby="nf-label-field-2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-2" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-7-container" class="nf-field-container listcheckbox-container  label-above  list-container">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-7-wrap" class="field-wrap listcheckbox-wrap list-wrap list-checkbox-wrap" data-field-id="7">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-7" id="nf-label-field-7" class="">Select Solution (one required)
                                                                            <span class="ninja-forms-req-symbol">*</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <ul aria-describedby="nf-error-7">
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-0" name="nf-field-7-0"
                                                                                    class="ninja-forms-field nf-element " value="pricetek-deposits"
                                                                                    aria-labelledby="nf-label-field-7-0" required="">
                                                                                <label for="nf-field-7-0" id="nf-label-field-7-0" class="">ECAPLeader<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">TM</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-1" name="nf-field-7-1"
                                                                                    class="ninja-forms-field nf-element " value="pricetek-loans"
                                                                                    aria-labelledby="nf-label-field-7-1" required="">
                                                                                <label for="nf-field-7-1" id="nf-label-field-7-1" class="">ModelTek<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">TM</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-2" name="nf-field-7-2"
                                                                                    class="ninja-forms-field nf-element " value="pricetek-mortgage"
                                                                                    aria-labelledby="nf-label-field-7-2" required="">
                                                                                <label for="nf-field-7-2" id="nf-label-field-7-2" class="">ScenarioFrontier<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">TM</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-3" name="nf-field-7-3"
                                                                                    class="ninja-forms-field nf-element " value="pricetek-offer-engine"
                                                                                    aria-labelledby="nf-label-field-7-3" required="">
                                                                                <label for="nf-field-7-3" id="nf-label-field-7-3" class="">BranchScape<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">®</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-4" name="nf-field-7-4"
                                                                                    class="ninja-forms-field nf-element " value="stratascape"
                                                                                    aria-labelledby="nf-label-field-7-4" required="">
                                                                                <label for="nf-field-7-4" id="nf-label-field-7-4"
                                                                                    class="">CreditStream<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">®</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-5" name="nf-field-7-5"
                                                                                    class="ninja-forms-field nf-element " value="bankchoice-monitor"
                                                                                    aria-labelledby="nf-label-field-7-5" required="">
                                                                                <label for="nf-field-7-5" id="nf-label-field-7-5" class="">MortgageRetainer<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">®</i></label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="checkbox" id="nf-field-7-6" name="nf-field-7-6"
                                                                                    class="ninja-forms-field nf-element " value="salesscape"
                                                                                    aria-labelledby="nf-label-field-7-6" required="">
                                                                                <label for="nf-field-7-6" id="nf-label-field-7-6"
                                                                                    class="">RetailEdge<i class="small-letter" style="font-style: normal;position: relative;font-size: 12px;top: -5px;">®</i></label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-7" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-8-container"
                                                            class="nf-field-container phone-container  label-above  textbox-container">
                                                            <div class="nf-before-field">
                                                                <nf-section>

                                                                </nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-8-wrap" class="field-wrap phone-wrap textbox-wrap" data-field-id="8">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-8" id="nf-label-field-8" class="">Phone (optional) </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <input type="tel" value="" class="ninja-forms-field nf-element" id="nf-field-8"
                                                                            name="phone" autocomplete="tel" aria-invalid="false"
                                                                            aria-describedby="nf-error-8" aria-labelledby="nf-label-field-8">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-8" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-9-container" class="nf-field-container textarea-container  label-above ">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-9-wrap" class="field-wrap textarea-wrap" data-field-id="9">
                                                                    <div class="nf-field-label">
                                                                        <label for="nf-field-9" id="nf-label-field-9" class="">Description of Need (optional) </label>
                                                                    </div>
                                                                    <div class="nf-field-element">
                                                                        <textarea id="nf-field-9" name="nf-field-9" aria-invalid="false"
                                                                            aria-describedby="nf-error-9" class="ninja-forms-field nf-element"
                                                                            aria-labelledby="nf-label-field-9"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-9" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                    <div class="nf-row">
                                        <nf-cells>
                                            <div class="nf-cell" style="width: 100%;">
                                                <nf-fields>
                                                    <nf-field>
                                                        <div id="nf-field-4-container"
                                                            class="nf-field-container submit-container  label-above  textbox-container">
                                                            <div class="nf-before-field">
                                                                <nf-section></nf-section>
                                                            </div>
                                                            <div class="nf-field">
                                                                <div id="nf-field-4-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="4">
                                                                    <div class="nf-field-label"></div>
                                                                    <div class="nf-field-element">
                                                                        <input id="nf-field-4" class="ninja-forms-field nf-element " type="button" value="Submit" onclick="ValidateEmail(document.demo_form.email_1)">
                                                                    </div>
                                                                    <div class="nf-error-wrap"></div>
                                                                </div>
                                                            </div>
                                                            <div class="nf-after-field">
                                                                <nf-section>
                                                                    <div class="nf-input-limit"></div>
                                                                    <div id="nf-error-4" class="nf-error-wrap nf-error" role="alert"></div>
                                                                </nf-section>
                                                            </div>
                                                        </div>
                                                    </nf-field>
                                                </nf-fields>
                                            </div>
                                        </nf-cells>
                                    </div>
                                </nf-rows-wrap>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="nf-after-form">
                    <nf-section></nf-section>
                </div>
            </div>
        </div>
        <a href="#bba-form1-success" id="submit_success"  class="button-white novantas-more" hidden>Submit Success</a>
        <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto; visibility: hidden;">
            <div class="mfp-container mfp-inline-holder">
            <div class="mfp-content">
                <form id="bba-form1-success" class="white-popup cf">
                <center><h3 style="text-transform: none;"><br><b>Thank you for your interest.</b><br><br>A member of our Marketing Team will get in touch with you shortly.</h3></center>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </form>
            </div>
            </div>
        </div>
        <script type="text/javascript">
            function ValidateEmail(inputText)
            {
                var check_val=0;
                var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                if(inputText.value.match(mailformat))
                {
                    $.each($("#demo_form input[required='true']"), function (index, id) {
                        id_ref="#"+id['id'];
                        if(!$(id_ref).val()){
                            check_val=1;
                            console.log(id_ref);
                            window.setTimeout('alert("You have to enter a value in the required field!");', 10);
                            window.setTimeout('focusRequred(id_ref)', 500);
                            return false;
                        }
                    });
                    if(check_val==0 && !$('#demo_form input[type=checkbox]:checked').length)
                    {
                        check_val=1;
                        alert("You have to check at least one solution!");
                        return false;
                    }
                    if(check_val==0){
                        var mail_flag = 0;
                        var mail_name = ['gmail', 'yahoo', 'hotmail', 'outlook', 'aol'];
                        var domain = inputText.value;
                        var domain = domain.split("@");
                        var domain_name = domain[1].split(".");
                        mail_name.forEach(nameFunction);
                        function nameFunction(item, i){
                        if(mail_name[i] == domain_name[0]){
                            mail_flag = 1;            
                        }
                        }
                        if(mail_flag == 1){
                        alert("This email domain is not authorized!");
                            document.sendemail_form.receiver_email.focus();
                            return false;
                        }
                        else{
                            $(".mfp-close").click();
                            setTimeout(myFunction, 500)
                            $("#demo_form").submit();       
                        }
                    }
                }
                else
                {
                    window.setTimeout('alert("You have entered an invalid email address!");', 10);
                    setTimeout(focusFunction, 500);
                    return false;
                }
            }
            function focusRequred(id_reff){
                console.log(id_reff);
                $(id_reff).focus();
            }
            function focusFunction(){
                $("#nf-field-2").focus();
            }
            function myFunction(){
                $("#submit_success")[0].click();
            }
        </script>
        <!-- TODO: Move to Template File. -->
        
        <script id="nf-tmpl-cell" type="text/template">
            <nf-fields></nf-fields>
        </script>
        <script id="nf-tmpl-row" type="text/template">
            <nf-cells></nf-cells>
        </script>
    </div>
{% endblock content %}