{% extends 'base.html' %}

{% load static %}
  
{% block css %}
  <title>FINANCE, TREASURY & RISK SERVICES | BBA - BankingBook Analytics</title>
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
  <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-Finance">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-product">
              FINANCE, TREASURY & RISK SERVICES
            </h1>
            <p class="page-sub-title excerpt">Empowered Analytics</p>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="section section-white cf" style="background-color: white;">
        <div class="wrap" style="width: 70%;">
          <div class="content-column two_third">
            <div style="padding-right:20px;">
              <h2>Accelerating legislative change has reset the roles of Treasury and Finance. Cloud-computing 
                technologies and digital disruption are setting new benchmarks for services delivery. We 
                understand the terrain Finance, Treasury and Risk teams must navigate as benchmarks are reset 
                and expectations run high.</h2>
              <p>Treasury functions must ensure sustainable supply of liquidity by proactively managing balance 
                sheet through unprecedented and uncertain times, while playing a leading role in liquidity and 
                interest rate stress testing. Finance functions are tasked with stability and solvency by ensuring 
                available financial resources exceed capital requirements. Risk functions are expected to defend 
                against a multitude of threats - financial and non-financial. Trying to navigate the minefield of current challenges is no easy task. Opportunities exist to improve calculations that support risk and capital results. Approximation-based calculations that cover liquidity, strategic and market risks expose credit unions and mid-sized banks to ‘unattended’ event risk and also force the regulators to apportion higher capital.</p>
              <p>We provide advisory services to Finance, Treasury and Risk functions at banks in the Americas, Africa and Middle East. We partner with executives to advance analytic capabilities by bringing to bear cutting-edge modeling techniques pioneered by BankingBook. Our solution helps stakeholders stay informed and make ‘stay-in-business’ and ‘strategic’ decisions based on reliable and accurate business intelligence. BBA's engagements are transformative and high-impact. We focus on delivering cost-effective solutions by leveraging our domain expertise, microservices, acceleration tools and intellectual capital. We maintain our leadership by delivering superior impact, know-how transfer and on-going support. </p>
            </div>
          </div>
          <div class="content-column one_third last_column">
            <div style="background-color: #e4e4e4; padding: 10px 20px 10px 20px; border-radius: 10px;">
              <h2 style="text-align: center;">SERVICES</h2>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#ALM">Asset/Liability Management (ALM)</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Credit">Credit Scoring and Portfolio Management</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Liquidity">Liquidity Management</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Responding">Responding to Rate Change</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Revenue">Revenue and PPNR Modelling</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Comprehensive">Comprehensive Capital Management and Stress Testing</a></strong></p>
            </div>
          </div>
          <div class="clear_column"></div>
        </div>
      </div>
      <div class="section section-orange cf" style="padding-top: 0 !important;">
        <div class="wrap">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down"></use>
            </svg>
            <a name="ALM"></a>
          <h2 style="text-align: center;"><span style="color: #ffffff;">SERVICES</span></h2>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 0 !important;">
        <div class="wrap " style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down"></use>
          </svg>
          <h3><span style="color: #00263d;"><strong>ASSET/LIABILITY MANAGEMENT (ALM)</strong></span></h3>
          <p>To ensure dependable and defendable Treasury analytics that meets the test of heightened regulatory 
            and board scrutiny, we design and implement client-tailored methodologies to assist banks and credit 
            unions with dynamic interest rate modelling, behavioral models for loan and deposit portfolios using 
            our proprietary modeling techniques and develop bespoke analytics, and reporting. We help banks and 
            credit unions implement these tools in balance sheet management models, funds transfer pricing 
            frameworks, stress testing applications, ICAAP and other areas.</p>
          <a name="Credit"></a>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>CREDIT SCORING AND PORTFOLIO MANAGEMENT</strong></span></h3>
          <p>Even more than a decade after financial crisis, the classic boom-bust cyclicality of credit and 
            capital markets remains intact. Some familiar risks are creeping back, and new ones have emerged. 
            Some of the notable credit and capital markets risks can be traced back to procyclicality of credit 
            and capital markets models. Other include, cross-border defaults, sectoral concentration and 
            dislocation of structured credit market.</p>
          <p>The BBA team specializes in applying best practice credit and capital markets modelling applications to improve the predictive power of credit scoring system, manage cyclicality and concentration risks for origination decision-makers and portfolio managers. Our advanced credit-risk analytics enables institutions to improve underwriting decisions and increase revenues while reducing risk costs. We work across all asset classes, credit risk models, and the entire credit life cycle, including profit maximization, portfolio management, collections and loss mitigation.</p>
          <p>Our work helps clients address five strategic imperatives: understanding and adapting to changing consumer behavior, mining the vast amounts of available data, expanding the credit “buy box” without altering risk profile or overall risk appetite, increasing penetration of the customer base, and containing credit risk within the portfolio.</p>
          <p>We support clients in the complex tasks of managing and streamlining their balance sheets—enhancing 
            profitability while taking into account conflicting objectives such as reducing capital and 
            minimizing risk.</p>
          <a name="Liquidity"></a>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">   
          <p></p>       
          <h3><span style="color: #00263d;"><strong>LIQUIDITY MANAGEMENT</strong></span></h3>
          <p>Driven by global regulatory reform of liquidity requirements, supervisors now demand an increased 
            level of confidence in banks and credit unions’ ability to maintain adequate liquidity under normal 
            circumstances and under stress. The complexity of liquidity risk modelling is above the capabilities 
            of most existing liquidity risk management tools and decades-old spreadsheet-based modeling constructs. 
            Management teams, keen to invest in internal liquidity analytics, are finding most vended solutions 
            are unable to address liquidity modelling challenges.</p>
          <p>BankingBook liquidity advisory solution provides unmatched flexibility in calculating and assigning 
            liquidity premium, basis risk and other similar FTP add-ons on top of base funds transfer price. 
            We help clients adapt to LCR/NSFR and use proprietary toolbox to triangulate granular stressed 
            liquidity assumptions from a combination of internal and external data (including proprietary BBA 
            benchmarks). We gear our efforts toward forward-looking perspectives on balance sheet management. 
            We support clients in analyzing and understanding characteristics of their balance sheet (for example, 
            different types of deposits and mortgages with prepayment rights) both under normal circumstances and 
            under stress. We perform liquidity risk modeling at an enterprise-wide level as well as for specific 
            businesses.</p>
          <a name="Responding"></a>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>RESPONDING TO RATE CHANGE</strong></span></h3>
          <p>With volatility in base rates, we use sophisticated analytics to develop near term tactics to 
            understand what trade-off exist between profit or liquidity maximization. Deposits have a different 
            value across institutions, BBA team helps transform challenges with rate volatility into competitive 
            advantage. Our team helps clients understand how rising rates impact retail banking growth, deposit 
            coverage of loans, and betas at a granular level by facilitating an improved understanding of net 
            margin and run-offs.</p>
          <a name="Revenue"></a>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>REVENUE AND PPNR MODELLING</strong></span></h3>
          <p>Accurate forecasting of PPNR is a critical component of holistic risk management for a bank. Crude models don’t give sufficient detailed information to perform useful analysis. Sophisticated, granular models tend to be dominated by noise from poor quality data at individual bank level. BBA team strikes a balance in analysis by applying sophisticated revenue and PPNR modeling. Our expertise is best known in econometric revenue modeling. We continue to refine our approaches as we work with large banks and credit unions in Americas.</p>
          <a name="Comprehensive"></a>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>COMPREHENSIVE CAPITAL MANAGEMENT AND STRESS TESTING</strong></span></h3>
          <p>A structured, well-defined stress-testing process connects the "engine room" to the board room; 
            it goes beyond cumbersome exercises aimed solely at achieving regulatory compliance, and moves board 
            members and business leaders to action. Our stress-testing capabilities include scenario generation, 
            translation of scenarios into environmental parameters through macroeconomic quantification, and 
            assessment of the impact on the overall market as well as on a client's profit and loss and balance 
            sheet—all of which can inform an action plan to mitigate risks and swiftly capture opportunities.</p>
        </div>
      </div>
      <div class="section section-gray cf" style="padding-top: 0 !important;">
        <div class="wrap" style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down" style="fill: #F2F2EB !important;"></use>
          </svg>
          <h2 style="text-align: center;">CREDIT UNIONS PERSPECTIVE</h2>
          <p>Each quarter, we review the public financials of leading Canadian credit unions, diagnosing the state 
            of the credit union industry and illustrating the leading practices and characteristics of industry 
            winners. To receive a copy of our perspective, email us.</p>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 1st Quarter 2019</a><br>
            </div>
          </div>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 2nd Quarter 2019</a><br>
            </div>
          </div>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 3rd Quarter 2019</a><br>
              </div>
          </div>
          <p></p>
          <div class="content-column one_fourth last_column">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 4th Quarter 2019</a><br>
            </div>
          </div>
          <div class="clear_column"></div><br>
        </div>
      </div>
      <div class="section cf" style="background-color: #F68A5C;padding-top: 0 !important;">
        <div class="wrap" style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down" style="fill: #E0E6E9 !important;"></use>
          </svg>
          <h3 style="text-align: center; color: #00263d;margin-top: 35px;">RELATED SOLUTIONS</h3>
          <div style="margin-left: 9%;"><br>
            <a target="blank" href="/ScenarioFrontier">
              <div class="case1_div" style="text-align: center;">
                <strong>ScenarioFrontier<sup>TM</sup></strong>
                <img class="snap_img" src="/static/img/CyberSecurity-1.png">
                <p style="text-align: left;">ScenarioFrontier is a powerful tool for day-to-day strategic 
                  planning and capital management, permitting companies to identify and quantify risks and 
                  opportunities across a wide range of potential economic environments. ScenarioFrontier 
                  integrates budget, risk, and macroeconomic variables for regulatory compliance and management 
                  action planning.</p>
              </div>                
            </a>
            <a target="blank" href="/ECAPLeader">
              <div class="case1_div" style="text-align: center;">
                <strong>ECAPLeader<sup>TM</sup></strong>
                <img class="snap_img" src="/static/img/CyberSecurity-2.png">
                <p style="text-align: left;">ECAPLeader provides integrated view of capital for material risks, 
                  using a modelling engine attuned to the credit cycle, such that economic capital rises in good 
                  periods and starts to fall relatively in bad periods as losses get realized.</p>
              </div>
            </a>
            <a target="blank" href="/ModelTek">
              <div class="case1_div" style="text-align: center;">
                <strong>ModelTek<sup>TM</sup></strong>
                <img class="snap_img" src="/static/img/CyberSecurity-3.png">
                <p style="text-align: left;">ModelTek is an industry leading platform designed to industrialize 
                  model risk management for the second and third lines of defense. Regulators and auditors across 
                  the globe are asking consistently for more in-depth and more frequent model validation. The risk 
                  of non-compliance with regulatory standards, such as IFRS 9, SR 11-7, BCBS 350 and BCBS 223 is 
                  severe.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </article>

{% endblock content %}