{% extends 'base.html' %}

{% load static %}
  
{% block css %}
    <title>Pricing and Profitability | BBA - BankingBook Analytics</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-PricingProfitability">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-product">
              Pricing and Profitability
            </h1>
            <p class="page-sub-title excerpt">Winning Pricing Strategy</p>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="section section-white cf" style="background-color: white;">
        <div class="wrap" style="width: 70%;">
          <div class="content-column two_third">
            <div style="padding-right:20px;">
              <h2>Banks and credit unions have invested heavily in efforts to improve the customer experience, 
                but most have done little to innovate their pricing strategies. Competitive pressures from 
                FinTechs and non-financial lenders, accelerating legislative change, dynamic interest rates 
                and stagnant revenue growth outlook are adding to the growing list of challenges that mid-market 
                financial institutions face.</h2>
              <p>BankingBook provides coverage across retail and middle-market segments in two broad dimensions:</p>
              <div class="key_div1">
                <ul>
                  <li style="text-align: left;">Enhance prospects for growing the business</li>
                  <li style="text-align: left;">Provide a satisfying customer experience</li>              
                  </ul>
              </div>
              <p>We offer superior insight from our models, surveys and benchmarks on customer behavior and product positioning that effect tangible improvements – all in a common language for the benefit of key stakeholders, representing different constituencies.</p>
            </div>
          </div>
          <div class="content-column one_third last_column">
            <div style="background-color: #e4e4e4; padding: 10px 20px 10px 20px; border-radius: 10px;">
              <h2 style="text-align: center;">SERVICES</h2>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Branch">Branch Sales Optimization</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Middle_Market">Middle-Market Banking Optimization</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#SME_Commercial">COMMERCIAL LOAN PRICING</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Retail">Retail Pricing</a></strong></p>
            </div>
          </div>
          <div class="clear_column"></div>
        </div>
      </div>
      <div class="section section-orange cf" style="padding-top: 0 !important;">
        <div class="wrap">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down"></use>
            </svg>
            <a name="Branch"></a>
          <h2 style="text-align: center;"><span style="color: #ffffff;">SERVICES</span></h2>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 0 !important;">
        <div class="wrap " style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down"></use>
          </svg>
          <h3><span style="color: #00263d;"><strong>BRANCH SALES OPTIMIZATION</strong></span></h3>
          <p>We apply workforce management analytics, Machine Learning and robust optimization techniques to 
            focused sourcing and shared services to large scale improvement in branch operating efficiency 
            and service effectiveness. BankingBook focuses on two broad assistance themes, “TOP-DOWN” industry 
            performance comparison benchmarks and “BOTTOM-UP” opportunity assessment to provide banks and 
            credit unions with the information to define and deploy sales roles and achieve higher branch 
            sales productivity.</p>
            <a name="Middle_Market"></a>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>MIDDLE-MARKET BANKING OPTIMIZATION</strong></span></h3>
          <p>Although many middle-market customers seem satisfied with their current banking relationships, 
            that’s no guarantee of success in the future. Banks and credit unions need to realize there are 
            two main forces that could diminish their position in this space:</p>
          <div class="key_div1">
            <ul>
              <li>Banks and credit unions are generally perceived to be competing mainly on price—there is limited product or service differentiation.</li>
              <li>Disruptive forces evident in consumer and small-business banking, such as marketplace lending and digital banking, are likely to reshape the competitive dynamics in the middle market as well.</li>
            </ul>
          </div>
          <p>Our solution is based on answering four main questions, identified as particularly important by our clients:</p>
          <div class="key_div1">
            <ul>
              <li>How do other banks and credit unions active in the middle market make decisions on loan pricing and associated fees?
                <ul>
                  <li>Pricing models with limited RM discretion</li>
                  <li>Responsibility of LOB business head</li>
                  <li>Committee review (e.g. Deals Committees, Credit Adjudication)</li>
                  <li>Single-point Loan Portfolio Manager (auto vs. manual)</li>
                </ul>
              </li>
              <li>What approaches are used for opining on credit structure?</li>
              <li>To what extent has industry specialization – and segment differentiation generally – taken hold in the middle market?</li>
              <li>Given variations across peers and competitors, what organizational considerations and divisions of roles and responsibilities should be considered applicable from business model perspective?</li>
              <a name="SME_Commercial"></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>COMMERCIAL LOAN PRICING</strong></span></h3>
          <p>For a number of years, banks have focused on expanding their product portfolios to gain a larger 
            share of the middle-market segment’s wallet. Treasury, payables management, payroll processing, debt 
            placement, and investment management are some of the many offerings in most banks’ middle-market 
            product suite now. However, our research suggests that in the future, when middle-market firms’ needs 
            become more complex and they are exposed to nonbanks, some of the gaps in traditional bank offerings 
            are going to become more pronounced.</p>
          <p>To encourage customers to consolidate their financial needs with them even in the future, banks 
            should start planning for customers’ evolving and more sophisticated financial needs.</p>
          <p>Our work focuses on refining middle-market banking strategies by revamping three areas:</p>
          <div class="key_div1">
            <ul>
              <li>Retool product portfolios to meet customers’ evolving needs</li>
              <li>Revamp customer strategies to deepen profitable relationships</li>
              <li>Reorient operating models to position for digital transformations</li>
              <a name="Retail"></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>RETAIL PRICING</strong></span></h3>
          <p>With dominance in price-sensitivity volumes, vulnerable brands are scrambling to meet RoE targets. 
            Banks, credit unions and FinTechs are focusing on strategic pricing as a tool for competitive 
            differentiation and raising profitability. BBA's approach to solving complex pricing challenges is 
            based on probabilistic choice modelling by identifying market structures, brand loyalty and 
            sensitivity to price changes by developing bespoke offerings in a profit-maximizing manner. 
            Our recommended insights are based on choice experiments and surveys of retail bank consumers.</p>
          <p>Our research reveals that price attributes dominate consumer choice, and the trade-offs consumers 
            make among price and non-price attributes are somewhat counterintuitive.</p>
          <p>Based on distinctive market characteristics and distribution network capabilities, our comprehensive 
            dataset and tactical tools permit the financial institutions to set goals for product pricing that 
            are sized to its particular market and are consistent with annual sales plans.</p>
          <p>In a typical engagement, we begin with quantifying the potential impact of different product and 
            price attributes on consumer choice. We then identify gaps in the communication of value regarding 
            these attributes, and highlight differences in choice behavior across demographic and credit segments.</p>
          <p>We offer coverage across the entire retail products spectrum, covering, checking accounts, credit cards, and mortgages.</p>
        </div>
      </div>
      <div class="section section-gray cf" style="padding-top: 0 !important;">
        <div class="wrap" style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down" style="fill: #F2F2EB !important;"></use>
          </svg>
          <h2 style="text-align: center;">CREDIT UNIONS PERSPECTIVE</h2>
          <p>Each quarter, we review the public financials of leading Canadian credit unions, diagnosing the state 
            of the credit union industry and illustrating the leading practices and characteristics of industry 
            winners. To receive a copy of our perspective, email us.</p>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 1st Quarter 2019</a><br>
            </div>
          </div>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 2nd Quarter 2019</a><br>
            </div>
          </div>
          <div class="content-column one_fourth">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 3rd Quarter 2019</a><br>
              </div>
          </div>
          <p></p>
          <div class="content-column one_fourth last_column">
            <div class="Quarter">
              <a target="blank" href="/insights-sub/49">
                <img class="aligncenter"
                  src="/static/img/PricingProfitability-icons.png" alt="files" width="80"
                  height="80">Credit Unions Performance - 4th Quarter 2019</a><br>
            </div>
          </div>
          <div class="clear_column"></div><br>
        </div>
      </div>
      <div class="section cf" style="background-color: #F68A5C;padding-top: 0 !important;">
          <div class="wrap" style="width: 70%;">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down" style="fill: #E0E6E9 !important;"></use>
            </svg>
            <h3 style="text-align: center; color: #00263d;margin-top: 35px;">RELATED SOLUTIONS</h3>
            <div style="margin-left: 9%;"><br>
              <a target="blank" href="/BranchScape">
                <div class="case1_div" style="text-align: center;">
                  <strong>BranchScape<sup>®</sup></strong>
                  <img class="snap_img" src="/static/img/PricingProfitability-1.png">
                  <p style="text-align: left;">BranchScape can help the management team establish goals for 
                    enhancing performance. Then, the financial institution can look at its individual branches 
                    to determine how to best align the day-to-day activities within each branch with the overall 
                    objectives of the franchise.</p>
                </div>                
              </a>
              <a target="blank" href="/MortgageRetainer">
                <div class="case1_div" style="text-align: center;">
                  <strong>MortgageRetainer<sup>®</sup></strong>
                  <img class="snap_img" src="/static/img/PricingProfitability-2.png">
                  <p style="text-align: left;">MortgageRetainer uses a build-up approach for mortgage pricing by 
                    taking into account default, prepayment and funding volatility risks for each mortgage 
                    transaction in the renewal pool. Using advanced Rest API technology, MortgageRetainer 
                    platform also helps managers develop business plans on the fly.</p>
                </div>
              </a>
              <a target="blank" href="/RetailEdge">
                <div class="case1_div" style="text-align: center;">
                  <strong>RetailEdge<sup>®</sup></strong>
                  <img class="snap_img" src="/static/img/PricingProfitability-3.png">
                  <p style="text-align: left;">MIf an organization offered the same “average” price to every 
                    customer applying for a loan, low-risk customers would secure better rates with other 
                    organizations, while lower- quality customers would not. To increase share and stay 
                    competitive in a tight market, banks require a strong analytical foundation of RetailEdge.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
    </article>
{% endblock content %}