{% extends 'base.html' %}

{% load static %}
  
{% block css %}
    <title>Regulatory Compliance | BBA - BankingBook Analytics</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/shortcodes.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-RegulatoryCompliance">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h1 class="title-product">
              Regulatory Compliance
            </h1>
            <p class="page-sub-title excerpt">From Fit-for-Purpose to Business-as-Usual</p>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="section section-white cf" style="background-color: white;">
        <div class="wrap" style="width: 70%;">
          <div class="content-column two_third">
            <div style="padding-right:20px;">
              <h2>Regulators are concerned with solvency of financial institutions. The likelihood of ‘default’ 
                (i.e. insolvency) is often considered specific to a particular institution and the assets that it 
                holds. Post 2008 financial crisis, the systemic impact of default has also emerged as an important 
                theme. Regulatory sign-off on capital stress tests is now required before dividend payments or shares 
                buy-backs. As global regulations get more rigorous, banks, credit unions and other regulated entities 
                are accelerating efforts to develop capital management systems to analyze and process large amounts of 
                data with speed and accuracy.</h2>
              <p>BBA solves enterprise regulatory change management in many different ways. From implementing agile 
                technology to functionalization of stress testing, BBA's strategic approach to implementing regulations 
                is designed to work with our clients' budgets. With focus on quick-wins, our team of experts develops 
                verifiable calculation engines and sandboxes aimed at creating transparency for the stakeholder buy-in. 
                In order to maximize RoI, we integrate capital management systems with business-as-usual functionality 
                of Risk and Treasury.</p>
            </div>
          </div>
          <div class="content-column one_third last_column">
            <div style="background-color: #e4e4e4; padding: 10px 20px 10px 20px; border-radius: 10px;">
              <h2 style="text-align: center;">SERVICES</h2>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Basel">Basel Compliance</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Federal">Implementation of Federal Reserve’s Requirements</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#IFRS_CECL">Implementation of IFRS 9 and CECL Requirements</a></strong></p>
              <p style="text-align: center; font-weight: 400;">
                <strong><a class="button button-dark-blue" style="width: 100%;"
                    href="#Models">Independent Models Validation</a></strong></p>
            </div>
          </div>
          <div class="clear_column"></div>
        </div>
      </div>
      <div class="section section-orange cf" style="padding-top: 0 !important;">
        <div class="wrap">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down"></use>
            </svg>
            <a name="Basel"></a>
          <h2 style="text-align: center;"><span style="color: #ffffff;">SERVICES</span></h2>
        </div>
      </div>
      
      <div class="section section-white cf " style="background-color: white; padding-top: 0 !important;">
        <div class="wrap " style="width: 70%;">
          <svg viewBox="0 0 94 40">
            <use xlink:href="#bg-arrow-down" style="fill: #0084AD !important;"></use>
          </svg>
          <h3><span style="color: #00263d;"><strong>Basel Compliance</strong></span></h3>
          <p>Basel is a set of international banking regulations put forth by the Basel Committee on Bank Supervision, 
            which sets out the minimum capital requirements of financial institutions. Basel regulatory compliance 
            applies to the following financial institutions:</p>
          <div class="key_div1">
            <ul>
              <li style="text-align: left;">Commercial banks</li>
              <li style="text-align: left;">Savings banks</li>
              <li style="text-align: left;">Credit Institutions</li>
              <li style="text-align: left;">Investment firms</li>
              <li style="text-align: left;">Credit unions</li>
            </ul>
          </div>
          <p>The purpose of Basel II, which was initially published in June 2004, is to set risk and capital management 
            regulations to ensure that regulated entities hold capital reserves appropriate to the risk they are exposed 
            to through lending and investment practices. Basel rules mean that the greater risk the bank is exposed to, 
            the greater the capital needed to safeguard bank solvency and overall economic stability. Basel II is a 
            3-pillar concept with each pillar targeting different requirements.</p>
          <p>BankingBook offers agile solution for regulatory intelligence and change. Whatever your Basel implementation 
            challenge, we have the expertise and proven track record to build the right tools for your business that will 
            help drive business change and improve processes.</p>
          <p>BankingBook offers up to-date coverage of Basel versions. Thematically, our coverage includes:</p>
          <div class="key_div1">
            <ul>
              <li style="text-align: left;">Measurements: From definition of risk materiality and risk profiling to measurement, testing and validation of risk models</li>
              <li style="text-align: left;">Capitalization: Capitalization and delineation of capital based on material risks and assignment of buffers</li>
              <li style="text-align: left;">Reporting: Developing internal and external reporting templates, policy upgrades and risk dashboards</li>
            </ul>
          </div>
          <a target="blank" style="text-decoration: underline;" href="https://www.bis.org/basel_framework/">Download the Basel Framework at the BCBS website.</a>  
          <a name="Federal"></a>  
        </div>
      </div>
      
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>Implementation of Federal Reserve’s Requirements</strong></span></h3>
          <p>Financial services institutions are increasingly relying on stress tests to assess capital adequacy. BankingBook is at the forefront of models validation, stress testing, revenue and PPNR modeling. Employing strong project management skills and comprehensive modelling knowledge, BBA uses a broad spectrum of quantitative and qualitative (expert business judgment) approaches and continues to refine them through work with over a range of banks and credit unions in North America. Key dimensions of our coverage are:</p>
          <h4>Stress Testing (SR 12-07, SR 15-18, SR 15 – 19)</h4>
          <p>Our deep knowledge of stress testing helps clients meet, one-off and on-going compliance requirements. 
            Our expert modelers add value through the entire spectrum of CET1 stress testing that includes, for 
            example:</p>
          <div class="key_div1">
            <ul>
              <li>Understanding and diagnostic of capital base</li>
              <li>Pre-Provision Net Revenue and robust approaches to stress testing</li>
              <li>Integration of CECL and CCAR risk management</li>
              <li>Risk-weighted assets estimation and optimization</li>
              <li>Growth in portfolio under base and stress conditions</li>
              <li>Improved data management programs</li>
            </ul>
          </div>
          <p style="margin: 0 !important;"><a target="blank" style="text-decoration: underline;" href="https://www.federalreserve.gov/supervisionreg/srletters/sr1207.htm">Download the SR 12-07 at federalreserve.gov </a>.</p>
          <p style="margin: 0 !important;"><a target="blank" style="text-decoration: underline;" href="https://www.federalreserve.gov/supervisionreg/srletters/sr1518_PW.pdf">Download the SR 15-18 at federalreserve.gov</a>.</p>
          <p style="margin: 0 !important;"><a target="blank" style="text-decoration: underline;" href="https://www.federalreserve.gov/supervisionreg/srletters/sr1519_PW.pdf">Download the SR 15-19 at federalreserve.gov</a>.</p>
          <a name="IFRS_CECL"></a>
        </div>
      </div>
      <div class="section section-white cf " style="background-color: white; padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">   
          <p></p>       
          <h3><span style="color: #00263d;"><strong>Implementation of IFRS 9 and CECL Requirements</strong></span></h3>
          <p>We have been working with organizations since the early stages of the IFRS 9 standard and its US 
            counterpart Current Expected Credit Loss (CECL), resulting in an in-depth understanding of the impact 
            of the regulatory and global accounting changes. We have built an extensive range of experience that 
            helps us implement and deliver bespoke and flexible solutions that minimize additional workload. 
            Our consultants add value to teams by leveraging that experience, both in terms of scale and range 
            across different portfolios and, where appropriate, facilitating the transfer of skills to a client’s 
            in-house analysts.</p> 
            <a name="Models"></a>            
        </div>
      </div>
      <div class="section section-white cf " style="padding-top: 30px !important;">
        <div class="wrap " style="width: 70%;">
          <p></p>
          <h3><span style="color: #00263d;"><strong>Independent Models Validation</strong></span></h3>
          <p>Our clients are searching for a partner firm who can provide cost-effective, independent, expert 
            advice on models validation. Their requirements for external assistance could be at the design, 
            implementation, documentation stage or with internal audit process. Clients benefit by outsourcing 
            and automation by reducing FTE time spent on validation. Some of the assistance options include:</p>
          <div class="key_div1">
            <ul>
              <li>Outsource model validation process, covering IFRS 9, CECL, Basel models in compliance with 
                SR 11-7, PS7/18 and TRIM</li>
              <li>Access our distributed validation platform capable of analyzing large datasets. Our platform can be deployed on-premise as well as made available on the cloud. We are fully GDPR/ISO 27001 compliant</li>
              <li>Models inventory and risk assessments: BBA’s professionals can help you rank models by risk 
                level to obtain a true view of your enterprise model risk and manage those risks accordingly</li>
              <li>Model validation: Verify that models (such as ones for value at risk, IFRS 9/CECL, capital 
                models, or anti-money laundering) perform as expected. BBA’s validation approach is 
                checklist-based; aligned with model risk management guidance from the Office of the Comptroller 
                of the Currency and the Federal Reserve</li>
              <li>Model governance: Combining sound model risk management practices with internal audit expertise, 
                we execute tailored, risk-based internal audit programs to identify control gaps and provide 
                valuable recommendations</li>
              <li>Models refinement: Our modelling specialists help refine models identified for improvement, 
                including fine tuning the calibration , providing documentary evidence to demonstrate to regulators 
                and auditors that risks are being monitored at appropriate levels</li>
              <li>Documentation: BBA delivers regulatory compliant documentation generated by our ModelTek platform that can be customized and shared</li> 
            </ul>
          </div>
          <p>Access our distributed validation platform capable of analyzing large datasets. Our platform can be deployed on-premise as well as made available on the cloud. We are fully GDPR/ISO 27001 compliant</p>   
          <p style="margin: 0 !important;"><a target="blank" style="text-decoration: underline;" href="https://www.federalreserve.gov/supervisionreg/srletters/sr1107a1.pdf">Download the SR 11-07 at federalreserve.gov</a>.</p>
        </div>
    </div>
      <div class="section cf" style="background-color: #F68A5C;padding-top: 0 !important;">
          <div class="wrap" style="width: 70%;">
            <svg viewBox="0 0 94 40">
              <use xlink:href="#bg-arrow-down" style="fill: #F2F2EB !important;"></use>
            </svg>
            <h3 style="text-align: center; color: #00263d;margin-top: 35px;">RELATED SOLUTIONS</h3>
            <div style="margin-left: 9%;"><br>
              <a target="blank" href="/ScenarioFrontier">
                <div class="case1_div" style="text-align: center;">
                  <strong>ScenarioFrontier<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-1.png">
                  <p style="text-align: left;">ScenarioFrontier is a powerful tool for day-to-day strategic 
                    planning and capital management, permitting companies to identify and quantify risks and 
                    opportunities across a wide range of potential economic environments. ScenarioFrontier 
                    integrates budget, risk, and macroeconomic variables for regulatory compliance and management 
                    action planning.</p>
                </div>                
              </a>
              <a target="blank" href="/ECAPLeader">
                <div class="case1_div" style="text-align: center;">
                  <strong>ECAPLeader<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-2.png">
                  <p style="text-align: left;">ECAPLeader provides integrated view of capital for material risks, 
                    using a modelling engine attuned to the credit cycle, such that economic capital rises in 
                    good periods and starts to fall relatively in bad periods as losses get realized.</p>
                </div>
              </a>
              <a target="blank" href="/ModelTek">
                <div class="case1_div" style="text-align: center;">
                  <strong>ModelTek<sup>TM</sup></strong>
                  <img class="snap_img" src="/static/img/CyberSecurity-3.png">
                  <p style="text-align: left;">ModelTek is an industry leading platform designed to industrialize 
                    model risk management for the second and third lines of defense. Regulators and auditors 
                    across the globe are asking consistently for more in-depth and more frequent model validation. 
                    The risk of non-compliance with regulatory standards, such as IFRS 9, SR 11-7, BCBS 350 and 
                    BCBS 223 is severe.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
    </article>
{% endblock content %}