{% extends 'base.html' %}

{% load static %}
  
{% block css %}
    <title>{{ each_article.headline }} | BBA - BankingBook Analytics</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock css %} 

{% block content %}
    <div>
      <div id="bg-1" class="hero-unit hero-post bg-report2">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3 class="title-article">
              {{ each_article.headline }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <article id="post-10080" class="cf post-10080 page type-page status-publish has-post-thumbnail hentry"
      role="article" itemscope="" itemtype="http://schema.org/BlogPosting" style="background-color: white;">
      <header class="article-header">
        <h1 class="page-title screen-reader-text">Home</h1>
      </header>
      <div class="wrap">
        <div class="m-all t-2of3 d-3of4">
          <section class="entry-content cf" itemprop="articleBody">
            <p class="byline vcard">
              <span class="author">{{ each_article.headline }}</span>
            </p>
            <h2 class="single-sub-title"></h2>
            <div class="blocker" style="margin-bottom: 30px;">{{ each_article.content }}</div>
            <p class="text-right">
              <a href="#bba-form" class="novantas-more button button-dark-blue">Read more</a>
            </p>
          </section>
          <footer class="article-footer">
            <p class="tags">
              <a href="#" rel="tag">Research Team, BBA - BANKINGBOOK ANALYTICS</a>
            </p> <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div style="margin-bottom: 85px;">
              <ul class="list-inline">
                <li class="linkedin_li">
                  <a href="https://www.linkedin.com/company/bankingbook-analytics/" target="_self">
                    <i class=" fa fa-linkedin" style="color: white;"></i>
                  </a>
                </li>
                <li class="twitter_li">
                  <a href="https://twitter.com/Analytics_BB" target="_self">
                    <i class=" fa fa-twitter" style="color: white;"></i>
                  </a>
                </li>
                
                <li class="envelop_li">
                  <a href="mailto:contact@bba.to" target="_self">
                    <i class=" fa fa-envelope" style="color: white;"></i>
                  </a>
                </li>
              </ul>
            </div>
          </footer>
        </div>
        <aside class="file-img m-all t-1of3 d-1of4 last-col cf" role="complementary" style="text-align:center; margin-top: 80px;">
          <p>
            <img width="232" height="300" src="../../static/img/{{each_article.img_path}}"
              class="attachment-bones-thumb-300 size-bones-thumb-300 wp-post-image" alt=""
              sizes="(max-width: 232px) 100vw, 232px">
          </p>
          <p style="margin-left: 38px;">
            <a href="#bba-form" class="button-white novantas-more">Download PDF</a>
          </p>
        </aside>
      </div>
    </article>

  <div class="section section-gray cf">
    <p class="wrap vcard vcard-marketing">For more information, contact
      <span class="org fn">BBA Marketing</span><br>
      <a class="email" href="mailto:contact@bba.to">contact@bba.to</a><br>
      <a class="tel" href="tel:1-212-901-2773">+1 (905) 499-3618</a>
    </p><br>
  </div>
  <div class="section cf" style="background-color: #F68A5C;">
    <div class="wrap" style="max-width: 80%;">
      <svg viewBox="0 0 94 40">
        <use xlink:href="#bg-arrow-down"></use>
      </svg>
      <h3 class="h2" style="font-weight: 400;">Related Materials</h3>
      <div class="callout-post report m-all t-1of3 d-1of3 ">
        <h4 style="background-color: #FFB700 !important;">Report</h4>
        <h5><a href="/report1">Alternative Rating Development Approaches:  Shadow Bond Approach</a></h5>
        <p>Where good-bad analysis cannot be used due to lack of default data, the ‘shadow-bond method’ offers a less robust but statistically valid alternative. Here the ability of financial factors to predict default is modelled by measuring their ability to predict external rating agency default rates. </p>
      </div>
      <div class="callout-post report m-all t-1of3 d-1of3 ">
        <h4 style="background-color: #01215E !important;">Case Study</h4>
        <h5><a href="/insights-sub/47/">Building A Successful Sales Pipeline Using CreditStream</a></h5>
        <p>More than ten years after the roll-out of Basel 2, many lending intuitions in Canada are still using the Standardized Approach (SA) for regulagtory reporting. As a consequence, reporting institutions are either setting aside disproportionately higher capital for their loan book, are engaged in regulatory arbitrage by issuing residential real estate loans or are involved in "originate-to-distribute" lending. All of these aofre-mentioned consequcnes contrinute to higher systemic risk.</p>
      </div>
      <div class="callout-post callout-post-article report m-all t-1of3 d-1of3 last-col">
        <h4>Article</h4>
        <h5><a href="/article4">Distribution Analysis for Information Risk (DAIR): A Cyber Quantification Framework </a></h5>
        <p>We know that cyber threats continue to evolve and pose increasingly significant risks to organizations. We also know that the impact of cyber-attacks extends beyond direct financial consequences. Cyber incidents can lead to serious service disruptions, reputational damage and share price deterioration, along with potential for fines and litigation. We also know that the impact of cyber-attacks extends beyond direct financial consequences. Cyber incidents can lead to serious service disruptions, reputational damage and share price deterioration, along with potential for fines and litigation.</p>
      </div>
    </div>
  </div>

  <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto; visibility: hidden;">
    <div class="mfp-container mfp-inline-holder">
      <div class="mfp-content">
        <form method="POST" action="" id="bba-form" name="sendemail_form" class="white-popup cf">{% csrf_token %}
          <h4>Please enter your email for verification:</h4>
          <label class="screen-reader-text" for="novantas-email">Email:</label>
          <input id="novantas-email" name="receiver_email" type="text" placeholder="user@domain.com">
          <input id="id_article_classif" name="article_classif" type="text" value="{{ each_article.classif }}" hidden>
          <input id="id_article_title" name="article_title" type="text" value="{{ each_article.headline }}" hidden>
          <input type="button" class="button" value="Submit" onclick="ValidateEmail(document.sendemail_form.receiver_email)"/>
          <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </form>
      </div>
    </div>
  </div>

  <a href="#bba-form1-success" id="submit_success"  class="button-white novantas-more" hidden>Submit Success</a>
  <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto; visibility: hidden;">
    <div class="mfp-container mfp-inline-holder">
      <div class="mfp-content">
        <form id="bba-form1-success" class="white-popup cf">
          <center><h3 style="text-transform: none;"><br><b>Thank you for your interest.</b><br><br>A member of our Marketing Team will get in touch with you shortly.</h3></center>
          <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </form>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    function ValidateEmail(inputText)
    {
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if(inputText.value.match(mailformat))
      {
        var mail_flag = 0;
        var mail_name = ['gmail', 'yahoo', 'hotmail', 'outlook', 'aol'];
        var domain = inputText.value;
        var domain = domain.split("@");
        var domain_name = domain[1].split(".");
        mail_name.forEach(nameFunction);
        function nameFunction(item, i){
          if(mail_name[i] == domain_name[0]){
            mail_flag = 1;            
          }
        }
        if(mail_flag == 1){
          alert("This email domain is not authorized!");
            document.sendemail_form.receiver_email.focus();
            return false;
        }
        else{
          $(".mfp-close").click();
          setTimeout(myFunction, 500)
          document.sendemail_form.submit();          
        }  
      }
      else
      {
        alert("You have entered an invalid email address!");
        document.sendemail_form.receiver_email.focus();
        return false;
      }
    }
    function myFunction(){
        $("#submit_success")[0].click();
    }
  </script>
{% endblock content %}